.categories{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

span {
  padding: 12px 8px;
  margin: 4px 8px;
  background: #deeeee;
  border-radius: 5px;
  min-width: 60px;
  cursor: pointer;

}

.add-category {
  display: flex;
  margin-top: 20px;
}

input[type="text"] {
  padding: 12px 8px;
  font-size: 18px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease-in-out;
  margin-right: 12px;
}
button {
  width: auto;
}